body {
  max-width: 320px;
  margin: auto;
  background: #222222;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

.navbar {
  background: #222222;
  padding: 0 5px 0 5px;
  position:sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 13%;
}

.billet_button {
  background-color: #f5b300;
  padding: 6px;
  color: #222222;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  font-weight: bold;
}

header img {
  padding-top: 80px;
}

hr {
  text-decoration: none;
  color: white;
  max-width: 320px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: #222222;
}

.purple {
  background-color: #9c72ca;
  margin: 75px 50px 15px 50px;
}

.yellow {
  background-color: #f5b300;
  margin: 15px 80px 15px 80px;
}

.blue {
  background-color: #64d6d6;
  margin: 15px 100px 120px 100px;
}

p, 
a {
  font-family: 'League Spartan', sans-serif;
}

h2{
  font-family: 'Climate Crisis', cursive;
  font-size: 32px;
}

.right_tittle {
  color:#9c72ca;
  text-align: end;
  padding: 100px 0 30px 32px;
}

.left_tittle {
  color:#9c72ca;;
  text-align: start;
  padding: 100px 32px 30px 0;
}

.yellow_tittle {
  color: #f5b300;
  padding: 90px 0 80px 0;
  text-align: end;
}

.container {
  
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Climate Crisis', cursive;
}

.container .img {
  width: 75%;
  margin-bottom: 0;
}

.container h3 {
  font-size: 15px;
}

.right_card {
  margin: 20px 10px 20px 50px;
}

.left_card {
  margin: 20px 50px 20px 10px;
}

.container div h3 {
  color: #f5b300;
}