body {
  max-width: 330px;
  background-color: #222222;
  margin: auto;
  color: white;
  background-image: url("../img/background.png");
  background-size: 100%;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.date {
  background-color: #cfd316;
  padding: 5px 8px 5px 8px;
  color: #222222;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  padding: 80px 0 30px 0;
}

hr {
  text-decoration: none;
  color: white;
  max-width: 320px;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
  text-decoration: none;
  color: #222222;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
}

.purple {
  background-color: #9c72ca;
  margin: 75px 55px 15px 55px;
}

.yellow {
  background-color: #f5b300;
  margin: 15px 85px 15px 85px;
}

.blue {
  background-color: #64d6d6;
  margin: 15px 105px 120px 105px;
}

h2{
  font-family: 'Climate Crisis', cursive;
  font-size: 32px;
}

p {
  font-family: 'League Spartan', sans-serif;
  font-size: 22px;
}

main img {
  padding: 20px 0 20px 0;
}

.food img {
  padding: 0%;
}

.right_tittle {
  color:#9c72ca;
  text-align: end;
  padding: 130px 0 30px 40px;
}

.left_tittle {
  color:#9c72ca;;
  text-align: start;
  padding: 130px 32px 30px 0;
}

.yellow_tittle {
  color: #f5b300;
  padding: 130px 0 30px 0;
  text-align: end;
}

.container {
  
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Climate Crisis', cursive;
}

.schedule {
  color: #9c72ca;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -20px;
}

.container .img {
  width: 75%;
  margin-bottom: 0;
}

.container h3 {
  font-size: 19px;
}

.food_intro {
  padding-bottom: 60px;
}

.right_card {
  margin: 25px 0 20px 112px;
}

.left_card {
  margin: 25px 112px 20px 0px;
}

.container div h3 {
  color: #f5b300;
  font-size: 19px;
}

.blue_tittle {
  color: #64d6d6;
  padding: 130px 0 30px 0;
}

.medias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

footer img {
  width: 120px;
}

.disclaimer {
  font-weight: lighter;
  font-size: 17px;
}